---
title: Ocelot Consulting
services:
  - image: /assets/images/carlos-muza-84523-unsplash.jpg
    title: Cloud Migration
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
  - image: /assets/images/helloquence-61189-unsplash.jpg
    title: Data Management
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
  - image: /assets/images/marvin-meyer-571072-unsplash.jpg
    title: Security & Compliance
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
  - image: /assets/images/marvin-meyer-571072-unsplash.jpg
    title: Analytics
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
industryGroups:
  - industries:
    - icon: fa-heartbeat
      title: Healthcare
      description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam! 
    - icon: fa-tools
      title: Utilities
      description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam! 
  - industries:
    - icon: fa-money-check
      title: Financial Services
      description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam! 
    - icon: fa-phone
      title: Telecommunication
      description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam! 
  - customClass: is-offset-3
    industries:
    - icon: fa-users
      title: Human Resources
      description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam! 
---
<!doctype html>
<html>
  {% include header.html %}
  <body id="home">
    {% include nav.html %}
    {% include highlights.html %}
    {% include information.html %}
    {% include contact-us.html %}
  </body>
</html>