---
title: Ocelot Consulting
serviceGroups:
  - services:
    - image: /assets/images/carlos-muza-84523-unsplash.jpg
      title: Cloud Migration
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
    - image: /assets/images/helloquence-61189-unsplash.jpg
      title: Data Management
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
    - image: /assets/images/marvin-meyer-571072-unsplash.jpg
      title: Security & Compliance
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
  - services:
    - image: /assets/images/carlos-muza-84523-unsplash.jpg
      title: Analytics
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
      customClass: is-offset-2
    - image: /assets/images/helloquence-61189-unsplash.jpg
      title: Application Development
      description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
industryGroups:
  - industries:
    - icon: fa-heartbeat
      title: Healthcare
      description: From migrating applications to AWS cloud to deploying and integrating 3rd party Business Intelligence tools as well as building custom analytics platforms Ocelot has the skills to help Healthcare clients keep up with technology while maintaining critical data security.
      caseStudy: /industries/healthcare.html
    - icon: fa-tools
      title: Utilities
      description: Ocelot has experience building Data Warehouses and integrating Data Analytics tool suites for clients in the Utilities industry to better enable them to monitor the services they provide.
      caseStudy: /industries/utilities.html 
  - industries:
    - icon: fa-money-check
      title: Financial Services
      description: Within the financial industry, the ability to adapt to an ever-changing landscape while maintaining data accuracy and security is critical. Ocelot has the expertise and experience to help in your continued growth.
      caseStudy: /industries/financial_services.html 
    - icon: fa-phone
      title: Telecommunication
      description: Having performant and easy to use tools is critical to ensuring successful customer service. Ocelot can help you increase and improve the tools at your disposal to ensure your customers are helped as quickly and accurately as possible.
      caseStudy: /industries/telecom.html 
  - industries:
    - icon: fa-users
      title: Human Resources
      description: Finding the right candidate for your open positions can be a time consuming process with a lot of manual work. Ocelot has experience working with systems that make this easier. From posting new openings to filtering candidates, we can help simplify your process.
      caseStudy: /industries/hr.html 
      customClass: is-offset-3
---
<!doctype html>
<html>
  {% include header.html %}
  <body id="home">
    {% include nav.html %}
    {% include highlights.html %}
    {% include information.html %}
    {% include contact-us.html %}
  </body>
</html>