<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Client Successes</title>
  <link rel="stylesheet" href="/assets/css/normalize.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
  <body id="home">
    <div id='nav' class='navbar'>
  <div class='navbar-brand '>
      <a class="navbar-item" href='/'>
        <img src='/assets/images/ocelot.svg'>
      </a>
      <a class="navbar-item is-size-5 is-capitalized is-roboto" href='/'>
        Ocelot Consulting
      </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href="/index.html/#who-we-are">Who We Are</a>
        <a class="navbar-item" href="/index.html#transformations">Transformations</a>
		<a class="navbar-item" href="/web_content/client_successes.html">Client Success</a>
        <a class="navbar-item" href="/">Ocelots</a>
        <a class="navbar-item" href="/">Contact</a>
        <div class="navbar-item">|</div>
        <a class="navbar-item" href="/">Careers</a>
        <a class="navbar-item" href="/">Blog</a>
    </div>
  </div>
</div>
  <div id="client-success">
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Ocelot carries a legacy of highly successful partnerships in multiple industries​
          </h1>
          <h2 class="subtitle">
            Click below to explore our client success stories
          </h2>
        </div>
      </div>
    </section>
  </div>
    <div id="highlights">
  <section class="section grey-gradiant">
    <div class="background"></div>
    <div class="container">
      <div class="content">
        <div class="columns welcome-cards">
          <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-5by3" style="margin: 0;">
                    <img src="/assets/images/health_care_6x9.jpg" class="is-16by9" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Healthcare</p>
                      <p class="subtitle is-6">First of their kind deliveries for a major managed care organization</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-5by3" style="margin: 0;">
                    <img src="/assets/images/utilities2-6x9.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Utilities</p>
                      <p class="subtitle is-6">Next-gen cloud architecture and security to foster analytics</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-5by3" style="margin: 0;">
                    <img src="/assets/images/financials2-6x9.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Financial Services</p>
                      <p class="subtitle is-6">Cloud-based data lake processing to meet regulatory needs</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <!-- <div style="width: 100%; height: 300px; background-color: white;" /> -->
    </div>
  </section>
</div>
  </body>
</html>

<!-- version 2-->