<section class="section dark-grey-gradiant">
  <div id="contact">
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Contact Us
          </h1>
          <h3 class="subtitle">
            Give us a call at <a href="tel:+1314-384-3225">+1 314 384 3225</a> or send us a message.
          </h3>
          <form name="sentMessage" id="contactForm" action="https://formspree.io/info@ocelotconsulting.com" method="POST" novalidate>
            <div class="columns">
              <div class="column">
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Your Name *" id="name" name="name" required data-validation-required-message="Please enter your name.">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="email" class="input" placeholder="Your Email *" id="email" name="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Subject *" id="subject" name="subject" required data-validation-required-message="Please enter a subject.">
                    </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Your Message *" rows="5" id="message" name="message" required data-validation-required-message="Please enter a message."></textarea>
                    </div>
                </div>
                <input type="hidden" name="_next" value="http://www.ocelotconsulting.com" />
                <input type="text" name="_gotcha" style="display:none" />
              </div>
            </div>
            <button type="submit" class="button is-primary">Send Message</button>
        </form>
        </div>
      </div>
    </section>
  </div>
</section>