<div id="highlights">
  <section class="section grey-gradiant">
    <div class="background"></div>
    <div class="container">
      <div class="content">
        <div class="columns welcome-text is-hidden-mobile">
          <div class="column is-12">
            <ul class="is-size-1 is-capitalized">
              <li>Take your next innovative leap</li>
              <li>with Ocelot Consulting</li>
            </ul>
          </div>
        </div>
        <div class="columns welcome-text is-hidden-tablet">
          <div class="column is-two-thirds">
            <ul style="padding-left: 2rem;" class="is-size-3 has-text-left is-capitalized">
              <li>Take your next innovative leap with Ocelot Consulting</li>
            </ul>
          </div>
        </div>
        <div class="columns welcome-cards">
          <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-5by3" style="margin: 0;">
                    <img src="/assets/images/carlos-muza-84523-unsplash.jpg" class="is-16by9" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Cloud Migration</p>
                      <p class="subtitle is-6">Sub-title</p>
                    </div>
                  </div>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                  <a class="button is-primary is-outlined" href="/services/#cloud">Learn More <i class="fas fa-chevron-circle-right"></i></a>
                </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-5by3" style="margin: 0;">
                    <img src="/assets/images/helloquence-61189-unsplash.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Data Management</p>
                      <p class="subtitle is-6">Sub-title</p>
                    </div>
                  </div>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                  <a class="button is-primary is-outlined" href="/services/#data">Learn More <i class="fas fa-chevron-circle-right"></i></a>
                </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-5by3" style="margin: 0;">
                    <img src="/assets/images/marvin-meyer-571072-unsplash.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Security & Compliance</p>
                      <p class="subtitle is-6">Sub-title</p>
                    </div>
                  </div>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                  <a class="button is-primary is-outlined" href="/services/#security">Learn More <i class="fas fa-chevron-circle-right"></i></a>
                </div>
            </div>
          </div>
        </div>
      <!-- <div style="width: 100%; height: 300px; background-color: white;" /> -->
    </div>
  </section>
</div>