<section class="section grey-gradiant">
  <div id="who-we-are-1">
    <section class="hero hero--light-background is-medium">
      <div class="columns is-centered">
        <div class="column is-half ">
          <div class="hero-body">
            <div class="has-text-centered">
              <h1 class="title title__spacing-medium">
                What makes Ocelot an exceptional partner for your business?
              </h1>
              <br/>
              <h2 class="subtitle subtitle__spacing-medium subtitle__spacing-medium">
                Every company has a technology journey ahead of them.  Whether you are looking to modernize existing platforms, migrate to cloud architectures, 
                or design a completely custom solution from the ground up, Ocelot employs the absolute best engineers to turn your goals into reality.  
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="services">
    <section class="hero hero--dark-background is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title title__spacing-small">Services</h1>
          <h2 class="subtitle subtitle__spacing-small">How can Ocelot help transform your business?</h2>
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-5by3" style="margin: 0;">
                    <img src="/assets/images/carlos-muza-84523-unsplash.jpg" class="is-16by9" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Cloud Migration</p>
                    </div>
                  </div>
                  <div class="content" style="text-align: left;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
                  </div>
                </div>
              </div>
            </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-5by3" style="margin: 0;">
                  <img src="/assets/images/helloquence-61189-unsplash.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Data Management</p>
                  </div>
                </div>
                <div class="content" style="text-align: left;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-5by3" style="margin: 0;">
                  <img src="/assets/images/marvin-meyer-571072-unsplash.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Security & Compliance</p>
                  </div>
                </div>
                <div class="content" style="text-align: left;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-5by3" style="margin: 0;">
                  <img src="/assets/images/marvin-meyer-571072-unsplash.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Analytics</p>
                  </div>
                </div>
                <div class="content" style="text-align: left;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus minima placeat quasi illo est, expedita odit magnam.
                </div>
              </div>
            </div>
          </div>
          </div>
          <br/>
          <a href="/services" class="button is-primary is-outlined">Explore Our Services</a>
        </div>
      </div>
    </section>
  </div>

  <div id="who-we-are-2">
    <section class="hero hero--light-background is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-4">
              <img src="/assets/images/collage-ocelot-3.jpg" class="is-16by9" alt="Placeholder image">
            </div>
            <div class="column is-8">
              <h1 class="title title__spacing-medium">
                How do we work
              </h1>
              <br/>
              <h2 class="subtitle subtitle__spacing-small">
              Through our culture of learning and design excellence, our teams are always bringing cutting edge solutions forward while training each other 
                and our clients on how to leverage the best tools for the right purpose.  As a community, Ocelots across multiple organizations in the St. Louis 
                area have created differentiating capabilities that are fine-tuned to our clients’ needs.
              </h2>
              <!-- Learn more about <a href="/ocelots">Ocelot Consulting</a> -->

              <a href="/ocelots" class="button is-primary is-outlined">Meet The Ocelots</a>
            </div>

          </div>

        </div>
      </div>
    </section>
  </div>

  <div id="solutions">
    <section class="hero hero--dark-background is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Solutions
          </h1>
          <h2 class="subtitle subtitle__spacing-small"> Industries that we've empowered so far </h2>
          <div class="columns padding-bottom">
            <div class="column is-6">
              <div class="columns is-vcentered">
                <div class="column is-4">
                  <i class="fas fa-heartbeat fa-3x"></i>
                </div>
                <div class="column is-8" style="text-align: left;">
                  <div class="icon-title icon-title--padding-bottom"> Healthcare </div>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam!
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="columns is-vcentered">
                <div class="column is-4">
                  <i class="fas fa-tools fa-3x"></i>
                </div>
                <div class="column is-8" style="text-align: left;">
                  <div class="icon-title icon-title--padding-bottom"> Utilities </div>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam!
                </div>
              </div>
            </div>
          </div>

          <div class="columns padding-bottom">
            <div class="column is-6">
              <div class="columns is-vcentered">
                <div class="column is-4">
                  <i class="fas fa-money-check fa-3x"></i>
                </div>
                <div class="column is-8" style="text-align: left;">
                  <div class="icon-title icon-title--padding-bottom"> Financial Services </div>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam!
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="columns is-vcentered">
                <div class="column is-4">
                  <i class="fas fa-phone fa-3x"></i>
                </div>
                <div class="column is-8" style="text-align: left;">
                  <div class="icon-title icon-title--padding-bottom"> Telecommunication </div>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam!
                </div>
              </div>
            </div>
          </div>

          <div class="columns padding-bottom">
            <div class="column is-6">
              <div class="columns is-vcentered">
                <div class="column is-4">
                  <i class="fas fa-plane fa-3x"></i>
                </div>
                <div class="column is-8" style="text-align: left;">
                  <div class="icon-title icon-title--padding-bottom"> Travel </div>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam!
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="columns is-vcentered">
                <div class="column is-4">
                  <i class="fas fa-users fa-3x"></i>
                </div>
                <div class="column is-8" style="text-align: left;">
                  <div class="icon-title icon-title--padding-bottom"> Human Resources </div>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sequi sunt illo magni id vero velit corporis explicabo ipsa vitae, voluptatum aperiam ducimus voluptatem, beatae maiores eos adipisci, possimus quam!
                </div>
              </div>
            </div>
          </div>

          <!-- <h3 class="subtitle">From healthcare to utilities, we have revolutionized how our clients work.</h3>
          <h3 class="subtitle">Learn more about how we helped with our proven record of successful client transformation.</h3> -->
          <br/>
          <a href="/client-success/" class="button is-primary is-outlined">See Our Case Studies</a>
        </div>
      </div>
    </section>
  </div>
</section>