<section class="section grey-gradiant">
  <div id="who-we-are">
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            What makes Ocelot an exceptional partner for your business?
          </h1>
          <br/>
          <h2 class="subtitle subtitle__spacing-medium">
            Every company has a technology journey ahead of them.  Whether you are looking to modernize existing platforms, migrate to cloud architectures, 
            or design a completely custom solution from the ground up, Ocelot employs the absolute best engineers to turn your goals into reality.  
          </h2>
        </div>
      </div>
    </section>
  </div>

  <div id="who-we-are">
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column">
              <h1 class="title">
                What makes Ocelot a great place to work?
              </h1>
              <br/>
              <h2 class="subtitle">
              Through our culture of learning and design excellence, our teams are always bringing cutting edge solutions forward while training each other 
                and our clients on how to leverage the best tools for the right purpose.  As a community, Ocelots across multiple organizations in the St. Louis 
                area have created differentiating capabilities that are fine-tuned to our clients’ needs.
              </h2>
              <!-- Learn more about <a href="/ocelots">Ocelot Consulting</a> -->

              <a href="/ocelots" class="button is-primary is-outlined">Meet The Ocelots</a>
            </div>

            <div class="column">
              <img src="/assets/images/collage-ocelot.jpg" class="is-16by9" alt="Placeholder image">
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

  <div id="services">
    <section class="hero is-medium is-light">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">Services</h1>
          <h2 class="subtitle">How can we help?</h2>
          <div class="columns">
            <div class="column">
              <i class="fas fa-cloud fa-3x"></i>
              <div>Cloud Technologies</div>
            </div>
            <div class="column">
              <i class="fas fa-lock fa-3x"></i>
              <div>Enterprise Security</div>
            </div>
            <div class="column">
              <i class="fas fa-tools fa-3x"></i>
              <div>Application Development</div>
            </div>
            <div class="column">
              <i class="fas fa-database fa-3x"></i>
              <div>Data Science</div>
            </div>
          </div>
          <br/>
          <a href="/services" class="button is-primary is-outlined">Explore Our Services</a>
        </div>
      </div>
    </section>
  </div>

  <div id="solutions">
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Solutions
          </h1>
          <h3 class="subtitle">
            How can Ocelot help transform your business?
          </h3>

          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="/assets/images/cardiac-cardiology-sq.jpg" alt="Placeholder image" style="opacity:0.5;">
                  </figure>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="/assets/images/finance-6x9.jpg" alt="Placeholder image" style="opacity:0.5;">
                  </figure>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="/assets/images/utilities-6x9.jpg" alt="Placeholder image" style="opacity:0.5;">
                  </figure>
                </div>
              </div>
            </div>
          </div>

          <p>From healthcare to utilities, we have revolutionized how our clients work.</p>
          <p>Learn more about how we helped with our proven record of successful client transformation.</p>
          <br/>
          <a href="/client-success/" class="button is-primary is-outlined">See Our Case Studies</a>
        </div>
      </div>
    </section>
  </div>

</section>