<section class="section grey-gradiant">
  <div id="who-we-are">
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Who We Are
          </h1>
          <h2 class="subtitle">
            What makes Ocelot an excetional partner for your business and a great place to work?
          </h2>
        </div>
      </div>
    </section>
  </div>
<!-- </section>
<section class="section grey-gradiant"> -->
  <div id="transformations">
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Solutions
          </h1>
          <h2 class="subtitle">
            How can Ocelot help transform your business?
          </h2>
        </div>
      </div>
    </section>
  </div>
</section>