<div id='nav' class='navbar'>
  <div class='navbar-brand '>
      <a class="navbar-item" href='/'>
        <img src='/assets/images/ocelot.svg'>
      </a>
      <a class="navbar-item is-size-5 is-capitalized is-roboto" href='/'>
        Ocelot Consulting
      </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href="#who-we-are">Who We Are</a>
		<a class="navbar-item" href="/web_content/products.html">Products</a>
        <a class="navbar-item" href="#transformations">Transformations</a>
		<a class="navbar-item" href="/web_content/client_successes.html">Client Success</a>
        <a class="navbar-item" href="/web_content/ocelots.html">Ocelots</a>
        <a class="navbar-item" href="/">Contact</a>
        <div class="navbar-item">|</div>
        <a class="navbar-item" href="/">Careers</a>
        <a class="navbar-item" href="/web_content/blog.html">Blog</a>
    </div>
  </div>
</div> 