.caseSection {
  min-height: 20rem;
  padding-top: 5rem;
  
  @include mobile {
    padding-top: 10rem;
  }
}

.padding-top-1 {
  padding: 1rem;
}

.padding-top-2 {
  padding: 2rem;
}

.padding-2 {
  padding: 2rem;
}

.sectionDivider {
  background-color: lightgray;
  height: 1px;
}