section.grey-gradiant {
  background-image: url('/assets/images/white-grid-pattern-full.png'), linear-gradient(-181deg, $grey-light, #ededed);
  background-position: bottom left, top left;
  background-repeat: repeat-x, no-repeat;
  padding: 0 0 12rem 0 !important;
}

section.dark-grey-gradiant {
  background-image: url('/assets/images/white-grid-pattern-full.png'), linear-gradient(-181deg, $grey-light, $grey-dark);
  background-position: bottom left, top left;
  background-repeat: repeat-x, no-repeat;
  padding: 0 0 12rem 0 !important;
}
