section.grey-gradiant {
  background-image: url('/assets/images/white-grid-pattern-full.png'), linear-gradient(-181deg, $grey-light, #ededed);
  background-position: bottom left, top left;
  background-repeat: repeat-x, no-repeat;
  padding: 0 0 12rem 0 !important;
}

section.dark-grey-gradiant {
  background-image: url('/assets/images/white-grid-pattern-full.png'), linear-gradient(-181deg, $grey-light, $grey-dark);
  background-position: bottom left, top left;
  background-repeat: repeat-x, no-repeat;
  padding: 0 0 12rem 0 !important;
}

section.grey-dark-1 {
  background-image: url('/assets/images/white-grid-pattern-full.png'), linear-gradient(to bottom, $grey-dark-1 60%, rgba($grey-dark-1, .8) 100%);
  clip-path: polygon(25% 0, 100% 15%, 100% 100%, 50% 100%, 0 100%, 0 15%);
  background-position: bottom left, top left;
  background-repeat: repeat-x, no-repeat;
  padding: 0 0 12rem 0 !important;
  margin-top: -8rem;
}

columns {
  .padding-bottom {
    margin-top: 2rem;
  }
}

.hero {
  &--dark-background {
    background-color: #eeeeee;
    transform: skewY(5deg);
    margin-top: -5rem;
  }

  &--light-background {
    background-color: #F8F8F8;
  }

  &--light-background-with-space {
    background-color: #F8F8F8;
    margin-top: -5rem;
  }
}

.hero-body {
  &--dark-background {
    transform: skewY(-5deg);
  }
}