.columns {
    &--top-spacing-small {
        margin-top: -4rem;
    }
}

.subtitle {
    &__white {
        color: white;
    }

    &__link {
        color: white;
        font-weight: 600;
        transition: .3s;

        &:hover {
            color: $primary
        }
    }
}