#home {
  #nav {
    margin-top: .75rem;
  }
}

#nav {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(-5deg,lighten( $primary, 10% ), $primary);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  .navbar-brand {
    .navbar-item {
    }
  }
}

.navbar-item {
  transition: color .3s;
  position: relative;
  
  // This renders an underline under the navlink item on
  // hover.
  &--underline {
    top:0;
    left:0;
    position: absolute;
    height: 80%;
    width: 100%;
    border-bottom: solid 2px;
    opacity: 0;
  }

  // This ensures that hovering over the parent will cause the
  // underline to show up correctly
  &:hover .navbar-item__link--underline {
    opacity: 1;          
    animation: moveInLeftLight .3s ease-in;
  }
}