.icon-title {
  padding-top: 2rem;
  font-weight: bold;
}

.icon-group-title {
  padding-bottom: 2rem;
}

.icon-description {
  padding-top: 2rem;
}

.icon-section {
  &--with-padding {
    padding-top: 7rem;
    padding-bottom: 2rem;
  }
}
